@{
    ViewData["Title"] = "Home Page";
}

<div class="ta-c my-6">
    <h4 class="fs-xxl fw-600 tc-d-lead-2">Welcome</h4>
    <p class="tc-l-lead-3">Learn about <a class="tdl-u tc-indigo h:tc-d-indigo-1" href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
