@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="ta-c my-6">
    <h1 class="fs-xxl fw-600 tc-d-lead-2">@ViewData["Title"]</h1>
    <p class="tc-l-lead-3">Use this page to detail your site's privacy policy.</p>
</div>
